<div class="col-md-4">
  <div class="thumbnail">
    <div class="row">
      <div class="col-md-3 coordinator-thumbnail">
        <%= gravatar_for coordinator %>
      </div>
      <div class="col-md-7 coordinator-caption">
        <div class="caption">
          <h4><%= coordinator.name %></h4>
          <p><%= coordinator.email %></p>
        </div>
      </div>      
    </div>
  </div>
</div>