<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Courses</h1>
</div>

<div class="btn btn-default"> <%= link_to 'New Course', new_course_path %> </div>

<div class="row">
  <% @courses.each do |course| %>
    <%= render partial: "shared/course_panel", locals: {course: course} %>
  <% end %>
</div>


