<p id="notice"></p>

<%= render partial: "shared/course_panel", locals: {course: @course} %>
<div class="clearfix"></div>
<% if (@course.coordinator_id == current_coordinator.id) %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-default" %>
<% end %>
