<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<%= link_to 'New Category', new_category_path %>

<% @categories.each do |category| %>
  <div class="page-header">
    <h3 class="panel-title"><%= category.name %></h3>
  </div>
  <% category.courses.each_with_index do |course, index| %>
    <%= render partial: "shared/course_panel", locals: {course: course} %>
    <% if (index + 1) % 3 == 0 %> <div class="clearfix"></div> <% end %>
  <% end %>
  <div class="clearfix"></div>
<% end %>
