<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<%= link_to 'New Location', new_location_path %>

<% @locations.each do |location| %>
  <div class="page-header">
    <h3 class="panel-title"><%= location.code %></h3>
  </div>
    <% location.courses.each_with_index do |course, index| %>
      <%= render partial: "shared/course_panel", locals: {course: course} %>
    <% if (index + 1) % 3 == 0 %> <div class="clearfix"></div> <% end %>
    <% end %>    
  <div class="clearfix"></div>
<% end %>


