<footer class="footer">
  <div class="row">
    <div class="col-md-2">
      <h4>Contact here:</h4>
      <form>
        <div class="form-group">
          <label class="sr-only" for="footerEmail">Email address</label>
          <input type="email" class="form-control" id="footerEmail" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="footerComment">Comment</label>
          <textarea class="form-control" id="footerComment" placeholder="Comment"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>  
  </div>
  <br>
  <hr>
  <small>
    By Aleksandar Stefanovic
  </small>
</footer>